.image-container {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 10px; /* Adjust the border radius as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px; /* Match the container's border radius */
}


.button-1 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }

}
.rotateimg180 {
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
#additionalContent {
    display: none;
  }

  #noButton {
    position: absolute;
    margin-left: 150px;
    transition: 1s;
}

#yesButton {
    position: absolute;
    margin-right: 150px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
  margin-bottom: auto;
  margin-left: 20px;
}

.btn {
  background-color: #8df2f0;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 27px;
  transition: background-color 0.3s ease;
}
